:root {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;  /* Set the default font size to 16 pixels */
  }
  body{
    font-family: "Saira Semi Condensed";
    font-weight: 600;
    background-color: black;
    color: aliceblue;
  }
  main {
    margin-top: 5rem;
  }
  #form{
    display: block;
    position: relative;
    border-radius: 5px;
  }
  #formContents{
    position: relative;
    background-color: navy;
    border-radius: 1rem;
    font-size: 2rem;
  }
  #mainMain{
    height: 100%;
  }
  #mainForm{
    padding: 1rem;
    display: block;
  }
  #mainForm button{
    margin-top: 1rem;
  }

  footer{
    display: inline;
    width: 100%!important;
    background-color: black;
  }

  